<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="waypoint_navigation"   default="true"/>
  <arg name="world_name"          default="tsudanuma_2_19" doc="world_name type [tsudanuma_2_19, tsudanuma, tsukuba]"/>
  <arg name="mcl_map_file"        default="$(find raspicat_waypoint_navigation)/config/maps/$(arg world_name)/map_$(arg world_name).yaml"/>
  <arg name="move_base_map_file"  default="$(find raspicat_waypoint_navigation)/config/maps/for_move_base/map_$(arg world_name).yaml"/>
  <arg name="waypoint_yaml_file"  default="$(find raspicat_waypoint_navigation)/config/waypoint/waypoint_$(arg world_name).yaml"/>

  <!-- Map server -->
  <node pkg="map_server" name="mcl_map_server" type="map_server" args="$(arg mcl_map_file)"/>

  <node pkg="map_server" name="move_base_map_server" type="map_server" args="$(arg move_base_map_file)">
    <remap from="map"        to="/move_base_map"/>
    <remap from="static_map" to="/move_base_static_map"/>
  </node>

  <!-- WaypointView node -->
  <node pkg="raspicat_waypoint_navigation" name="WaypointView_node" type="WaypointView_node">
    <rosparam command="load" file="$(arg waypoint_yaml_file)"/>
  </node>

   <!-- Rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find raspicat_waypoint_navigation)/config/rviz/waypoint.rviz"/>
  </group>
</launch>